In [2]:
! pip install factor_analyzer

Processing c:\users\aditya rishi\appdata\local\pip\cache\wheels\b1\d4\b5\9da0e0e81266e87f5e85068f031077c8a2ae0eedf76ea1d294\factor_analyzer-0.3.2-py3-none-any.whl
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from factor_analyzer) (1.1.3)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from factor_analyzer) (1.19.2)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from factor_analyzer) (1.5.2)
Requirement already satisfied: scikit-learn in c:\users\aditya rishi\appdata\roaming\python\python38\site-packages (from factor_analyzer) (0.23.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas->factor_analyzer) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->factor_analyzer) (2020.1)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->factor_analyzer) (0.17.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->factor_analyzer) (2.1.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->factor_analyzer) (1.15.0)
Installing collected packages: factor-analyzer
Successfully installed factor-analyzer-0.3.2

In [3]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import seaborn as sns
sns.set(style="ticks", color_codes=True)

from matplotlib import pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

from sklearn.metrics import roc_auc_score,roc_curve,classification_report,confusion_matrix,plot_confusion_matrix
from factor_analyzer import FactorAnalyzer # Perform statistical tests before PCA 
import warnings
warnings.filterwarnings("ignore")
import scipy.stats as stats

In [4]:
df =pd.read_csv("Trucks.csv")

In [5]:
df.head()

   Unnamed: 0  Freq  period  parked  light  collision
0           1   712       0       1      1          0
1           2   613       1       1      1          0
2           3   192       0       1      1          1
3           4   179       1       1      1          1
4           5  2557       0       0      1          0

In [8]:
df1=df.drop('Unnamed: 0', axis=1)

In [10]:
df1.head()

   Freq  period  parked  light  collision
0   712       0       1      1          0
1   613       1       1      1          0
2   192       0       1      1          1
3   179       1       1      1          1
4  2557       0       0      1          0

In [11]:
df1.describe().T

,count,mean,std,min,25%,50%,75%,max
Freq,24.0,1448.916667,2794.132578,39.0,188.75,536.5,994.75,10749.0
period,24.0,0.500000,0.510754,0.0,0.00,0.5,1.00,1.0
parked,24.0,0.500000,0.510754,0.0,0.00,0.5,1.00,1.0
light,24.0,0.333333,0.481543,0.0,0.00,0.0,1.00,1.0
collision,24.0,0.500000,0.510754,0.0,0.00,0.5,1.00,1.0

In [12]:
df1['collision']=df1['collision'].astype('object')

In [14]:
df1.dtypes

Freq          int64
period        int64
parked        int64
light         int64
collision    object
dtype: object